/* General Things */

body {
    font-family: sans-serif;
}

#wrapper {
    width: 96%;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #c0c6c6;
}

a:active {
    color: #c0c6c6;
}

a:focus {
    color: #c0c6c6;
}

a:link {
    color: white;
}

/* header things */

header {
    max-height: 300px;
    max-width: 770px;
}

header img {
    float: left;
    margin-right: 35px;
}

header h1 {
    font-size: 3.4rem;
    margin-right: 30px;
}

@media screen and (min-width: 682px) {
    header h1 {
        padding-top: 40px;
    }
}

@media screen and (max-width: 760px) {
    header img {
        margin-right: 10%;
    }
    header h1 {
        font-size: 2.6rem;
    }
}

/* main things */

main {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    background-color: #21A5BF;
    color: white;
    border-radius: 5px;
    line-height: 1.5rem;
}

section {
    width: 90%;
    max-width: 770px;
    margin: auto;
}

nav {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

nav img {
    margin: 5%;
}

footer {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: .8rem;
}
