/* General Things */

body {
    font-family: 'Quicksand', sans-serif;
}

#wrapper {
    width: 96%;
    max-width: 780px;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

a:hover {
    color: #c0c6c6;
}

a:active {
    color: #c0c6c6;
}

a:focus {
    color: #c0c6c6;
}

a:link {
    color: white;
}

/* header things */

header {
    display: flex;
    justify-content: space-around;
}

header img {
    margin: 5%;
    margin-top: 10%;
    width: 30vw;
    height: 30vw;
    /* width: 30%;
    height: 30%; */
}

header h1 {
    margin: 10%;
    margin-top: 12%;
    font-size: 8vw;
    color: #21A5BF;
}

/* main things */

main {
    margin: auto;
    padding-top: 30px;
    padding-bottom: 30px;
    clear: both;
    background-color: #21A5BF;
    color: white;
    border-radius: 5px;
}

section {
    width: 90%;
    margin: auto;
}

main p {
    line-height: 1.8rem;
}

nav {
    max-width: 300px;
    margin: auto;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 10px;
}

nav img {
    margin: 5%;
    width: 50px;
    height: 50px;
}

footer {
    margin-top: 2%;
    margin-bottom: 2%;
    text-align: center;
    font-size: .8rem;
}
